  {% extends "base.html" %}
  {% block content %}
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Nombre Producto -->
                <h1>Compras</h1>

                <!-- Author -->

                <hr>

                <!-- Date/Time -->

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/150x250" alt="">

                <hr>

                <!-- Post Content -->
                <h3>No hay ninguna compra actualmente</h3>
               
                <!-- Blog Comments -->

                <!-- Comments Form -->
                

                <hr>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">



                <!-- Blog Categories Well -->
                

  

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Bases de datos 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

     {% endblock %}